<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Jura:400,700|Megrim|Rajdhani:400,700" rel="stylesheet">
    <link rel='stylesheet' href="<%= url('../css/styles.css')%>">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='../js/scripts.js'></script>
    <title>Shoo.</title>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
