body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'Jura', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  background-color: white;
  height: 100%;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.glyphicon {
  color: black;
}

/* Carousel */

#myCarousel {
  width: 100%;
  height: 82%;
}

#slide {
  height: 40%;
  width: 40%;
  display: block;
  margin: 0 auto;
}

#title-label {
  display: block;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
}

#home-logo {
  position: relative;
  display: block;
  height: 120px;
  padding-top: 25px;
  margin: 0 auto;
  text-align: center;
}

#logo {
  position: auto;
  display: block;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.active {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 80%;
}

/* Buttons */

.btn {
  font-family: 'Rajdhani', sans-serif;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;

  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media(min-width: 600px) {

    &:nth-of-type(even) {
      margin-right: 2.5em;
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }

  }

  &:hover { text-decoration: none; }

}

.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 3px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: black;
  transition: all 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

#add-button {
  font-size: 25px;
  display: block;
  height: 75px;
  width: 500px;
  margin: 25px auto 25px auto;

}

#go-home {
  position: relative;
  display: block;
  margin-top: 25%;
}

#add-text {
  margin: 0 auto;
  text-align: center;
  font-size: 42px;
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
}

#nav-text {
  display: block;
  margin-top: 10%;
  font-size: 25px;
  text-align: center;
}

/* Forms */

.narrow {
  display: block;
  height: 50%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0;

}
