body{
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
}

.glyphicon {
  color: black;
}

#slide {
  height: 25%;
  width: 25%;
  display: block;
  margin: 0 auto;
}

#logo {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 25%;
  width: 25%;
}
